@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #000000;
    --foreground: #f4f4f5;
}

body {
    color: var(--foreground);
    background: var(--background);
}

/* Custom Bento Card Animations */
.bento-card {
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.bento-card:hover {
    transform: translateY(-5px);
}